<!-- <div class="container">
  <h4>Account </h4>
  <div  class="row justify-content-center">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col" >Id</th>
          <th scope="col" >Name</th>
          <th scope="col">Email</th>
          <th scope="col" >Role</th>
        </tr>
      </thead>
      <tbody>
            <tr >
            <th scope="row"  id="id">{{user.id}}</th>
          <td>{{user.name}}
            <ul>
                <input [formControl]= "name" type="text" name="name" id="name">
            </ul>
          </td>
          <td>{{user.email}}
            <ul>
                <input  [formControl]= "email" type="text" name="email" id="email" >
            </ul>
          </td>
          <td>{{user.role}}
            <ul>
                <input  [formControl]= "role" type="text" name="role" id="role">
            </ul>
          </td>>
        </tr>
      </tbody>
    </table>

    <button class="btn" (click)="update(user.id)">Update user</button>
  </div>
</div>
 -->



