<div class="movie-container">
  <div class="container" *ngIf='cartItems$' >
    <button  class="btnCart" (click)="clearCart()" >Clear all</button>
  </div>
  <div class="example-card"  *ngFor="let cartItem of cartItems$" style="width: 18rem;">
    <h5 class="card-title">  {{ cartItem.title }}</h5>
    <img class="card-img-top" [src]= "urlPath+cartItem.poster_path" alt="Card image cap">
    <div class="card-body btn-borrar">
      <button (click)="removeItem(cartItem.id)" class="btnCart">Remove Item</button>
    </div>
  </div>
</div>


