.ftco-section {
  padding: 7em 0;
  .login-wrap {
    position: relative;
    z-index: 0;
    border: 1px solid var(--complimentaryColor);
    padding: 40px;
    border-radius: 4px;
    .icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 30px;
      margin: 0 auto;
      margin-bottom: 10px;
       span {
        .logo{
          width: 80px;
          height: 80px;
        }
    }
    }
  }
  form{
    .form-group {
      position: relative;
      ::placeholder{
        color: var(--complimentaryColor);
      }
      .form-control {
        height: 52px;
        font-size: 16px;
        border-radius: 40px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
        border: 1px solid var(--complimentaryColor);
        padding-left: 40px;
        padding-right: 20px;
        color: var(--complimentaryColor);
     }
     .label{
      color: var(--complimentaryColor);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 1px;
      color: var(--complimentaryColor);
     }

  .btn.btn-primary {
    background:var(--complimentaryColor);
    padding: .375rem .75rem;
    border: 1px solid var(--complimentaryColor);
    border-radius: .25rem;
    color: var(--darkNeutralColor);
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    margin-bottom: 10px;

    &:hover{
      padding: .375rem .75rem;
      border: 1px solid var(--boldMainColor);
      border-radius: .25rem;
      color: var(--complimentaryColor);
      background-color: var(--boldMainColor);
      transition: color .15s ease-in-out, background-color .15s ease-in-out;
    }
  }
    }

  }
  h2{
      text-align: center;
      color: var(--complimentaryColor);
  }
  a {
    color: var(--complimentaryColor);
    text-decoration: none;
    background-color: transparent;
  }

}

