.movie-container {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;

  .example-card{
    margin-right: 20px;
    margin-bottom: 30px;
    margin-bottom: 20px;
    background-color: var(--none);
    border: 1px solid var(--complimentaryColor) ;
    text-align: center;

  .card-title{
    color: var(--complimentaryColor);
    font-size: 18px;
    line-height: 1.9;
    font-weight: bold;
    text-align: start;
  }
}
}




















