
.formReactive{
  .form-control {
    height: 52px;
    font-size: 16px;
    border-radius: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid var(--white);
    padding-left: 40px;
    padding-right: 20px;

}

.checkbox-primary {
  color: var(--blue);
}

a {
  color: var(--blue);
  text-decoration: none;
 // background-color: transparent;
}
.form-group {
  margin-bottom: 1rem;
  ::placeholder{
    color: var(--white);
  }

}
}

.btn.btn-primary {
  background:var(--blue) !important;
  border: 1px solid var(--blue) !important;
  color: var(--white) !important;
  box-shadow: none !important;
  font-size: 15px;
}

.login-wrap {
position: relative;
//background: var(--white);
border-radius: 10px;
-webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
-moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
border: 1px solid var(--white);
.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
   span {
    .logo{
      width: 80px;
      height: 80px;

    }
}
}
}


