<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
      <div class="login-wrap p-4 p-md-5">
        <div class="icon d-flex align-items-center justify-content-center">
          <span><img src="https://cdn-icons-png.flaticon.com/512/648/648444.png" class="logo" alt="" /></span>
        </div>
        <h3 class="text-center mb-4">Sign In</h3>
        <form [formGroup]="form" action="#" class="login-form formReactive">
          <div class="form-group">
            <label class="label" for="password">Username</label>
            <input type="text" id="user" name="user" class="form-control" formControlName="user"
              placeholder="Username" />
            <div *ngIf="
                userControl.invalid &&
                (userControl.dirty || userControl.touched)
              " class="alert alert-danger">
              <div *ngIf="userControl.hasError('required')">
                Username is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="password">Password</label>
            <input id="password1" type="password" class="form-control" formControlName="password"
              placeholder="Password" />
            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <div *ngIf="
                passwordControl.invalid &&
                (passwordControl.dirty || passwordControl.touched)
              " class="alert alert-danger">
              <div *ngIf="passwordControl.hasError('required')">
                Password is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3" (click)="submit()"
              [disabled]="!form.valid">
              Login
            </button>
            <p *ngIf="error" class="error">
              {{ error }}
            </p>
          </div>
          <div class="form-group d-md-flex">
            <div class="w-50">
              <label class="checkbox-wrap checkbox-primary">Remember Me<input type="checkbox" checked="" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="w-50 text-md-right">
              <a>Forgot Password</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
