
<section class="about about--page spad">
  <div class="container">
      <div  class="row">
          <div class="col-lg-6">
              <div class="about__pic">
              <!-- <img [src]="movie.image.url" class="card-img-top" alt=""> -->
              <img [src]= "urlPath+movie.poster_path" alt="foto de la pelicula">
              </div>
          </div>
          <div class="col-lg-6">
            <div class="about__text">
                <div class="section-title">
                  <h2 >{{ movie.title }}</h2>
                </div>
                    <p >{{movie.overview}}</p>
                  <button mat-button (click)="addToCart(movie)">add to cart</button>
            </div>
          </div>
      </div>
  </div>
  </section>


