:root{
  --boldMainColor:#C62368; // titulos //
  --darkNeutralColor:#001220;  //fondos oscuros o textos con fondo claro
  --complimentaryColor:#eee9e6; //se complementa con el main
  --lightNeutralColor:#FA7268; // fondos y elementos de soporte
  --none:var(--none);
}

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background-size: cover;
  background-position: center center;
  background-image: url(./img/wavesBack.svg);
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}





