
:host {
  display: block;
  width: 100%;
}
.menu{
  // margin-top: 30px;
  background-color:var(--darkNeutralColor);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  border-bottom: 1px solid #222028;
  width: 100%;
  .navbar-brand{
    color:var(--complimentaryColor);
    line-height: 1.8;
    font-weight: bolder;
  }
  .nav-link{
    color:var(--complimentaryColor);
    &:active{
      color:var(--lightNeutralColor);
    }
  }
  .navbar-toggler{
    color:var(--complimentaryColor);
    .navbar-toggler-icon{
      color:var(--complimentaryColor);
    }
  }

}
