<div class="container">
<div class="table-responsive">
    <h4>A list of all de users</h4>
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of user | slice:2:1000" >
          <th scope="row">
            {{user.name}}
          </th>
          <td>{{user.email}}
          </td>
          <td>{{user.role}}
          </td>
          <td> <button class="btn" (click)="remove(user.name)">Delete user</button>
          </td>
        </tr>
      </tbody>
    </table>

</div>
 <div  class="table-responsive">
  <h4>Edit user</h4>
      <table class="table " >
        <thead>
          <tr>
            <th scope="col" >Name</th>
            <th scope="col">Email</th>
            <th scope="col" >Role</th>
            <th scope="col" >Update</th>
          </tr>
        </thead>
        <tbody>
            <tr >
              <th scope="row" ><input [formControl]= "name" type="text" name="name" id="name"> </th>
            <td>   <input  [formControl]= "email" type="text" name="email" id="email" >  </td>
            <td> <input  [formControl]= "role" type="text" name="role" id="role">  </td>
            <td>
              <button class="btn" (click)="update()" >OK</button>
            </td>
          </tr>
        </tbody>
      </table>
 </div>
</div>
